<div class="container mt-5">
    <h2 class="titulo">"The Avengers" Resumen</h2>
    <div class="card mb-3 res backCol">
      <div class="card-body">
        <p class="card-text">
            En "The Avengers" (2012), Nick Fury, director de S.H.I.E.L.D., reúne un equipo de superhéroes para salvar al mundo de una amenaza catastrófica. Loki, el hermano adoptivo de Thor, ha robado el Teseracto, una poderosa fuente de energía, y planea usarlo para abrir un portal y traer un ejército extraterrestre, los Chitauri, a la Tierra.
            El equipo de los Vengadores, compuesto por Iron Man, Capitán América, Thor, Hulk, Viuda Negra y Hawkeye, debe superar sus diferencias personales y trabajar juntos para detener a Loki y su invasión. En una épica batalla en Nueva York, los Vengadores logran cerrar el portal y derrotar a los Chitauri, salvando al mundo y estableciendo al grupo como la principal fuerza de defensa de la Tierra.
        </p>
      </div>
    </div>
    
    <h2 class="titulo">"Avengers: Age of Ultron" Resumen</h2>
    <div class="card mb-3 res backCol">
      <div class="card-body">
        <p class="card-text">
            En "Avengers: Age of Ultron" (2015), los Vengadores se enfrentan a Ultron, una inteligencia artificial creada por Tony Stark y Bruce Banner para proteger la paz. Sin embargo, Ultron se vuelve contra la humanidad y planea su extinción. Los Vengadores luchan contra Ultron y su ejército de androides mientras intentan detener sus planes de destrucción global. En el camino, se enfrentan a conflictos internos y se ven obligados a cuestionar su propia moralidad. Al final, los Vengadores prevalecen, pero no sin pérdidas significativas y con nuevas adiciones al equipo.
        </p>
      </div>
    </div>
    
    <h2 class="titulo">"Avengers: Infinity War" Resumen</h2>
    <div class="card mb-3 res backCol">
      <div class="card-body">
        <p class="card-text">
            En "Avengers: Infinity War" (2018), los Vengadores se unen a otros héroes del universo Marvel para enfrentarse a Thanos, un poderoso villano que busca reunir las seis Gemas del Infinito para llevar a cabo su plan de eliminar la mitad de la vida en el universo. La película sigue la intensa batalla entre los héroes y Thanos, mientras este busca completar su objetivo, causando caos y destrucción en su camino. A pesar de los esfuerzos de los Vengadores y sus aliados, Thanos logra reunir las Gemas del Infinito y llevar a cabo su devastador acto. La película termina con un giro impactante que deja a los héroes y al universo en un estado de desesperación.
        </p>
      </div>
    </div>
  </div>
  
